#! /usr/bin/make -f

package        := context-nonfree
instbase       := debian/$(package)

build: build-indep

build-indep: build-indep-stamp

build-indep-stamp:
	touch build-indep-stamp

clean:
	dh_testroot
	rm -f build-indep-stamp
	dh_clean

binary-indep: build-indep
	dh_testdir 
	dh_testroot
	dh_clean
	dh_installdirs usr/share/texmf usr/share/doc/$(package)
	cp -a fonts $(instbase)/usr/share/texmf
	dh_installtex
	cp -a doc/* $(instbase)/usr/share/doc/$(package)
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do here but the Debian Policy says this target must
# exist.

binary: binary-indep binary-arch

.PHONY: clean build build-indep binary binary-indep binary-arch
